
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,strong {
  font-weight: bolder;
}
code,kbd,samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,input,optgroup,select,textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,input {
  overflow: visible;
}
button,select {
  text-transform: none;
}
button,[type="button"],[type="reset"],[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
label{
  display:block;
}
#image{
  background-image:url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__480.jpg");
  background-size:cover;
  height: 100vh; 
  width:100vw;
  background-position: center; 
color:white;
opacity:0.9;
}
h1{
  text-align:center;
}
#description{
  text-align:center;
  font-size:18px;
  font-style:italic;
  
}
body{
  padding:15px;
   font-size:20px;
  
}
#survey-form{
  text-align:left;
  background-color:RGBA(168,163,209,0.35);
  
  border-radius: 10px;
  min-width:300px;
  max-width:500px;
  margin:0 auto;
  padding:30px;
}
 #name,#email,#number{
    border-radius:5px;
    border-color:blue;
    padding:8px;
    width:100%;
    margin:0 auto;
    margin-bottom:35px;

    
 }
 #dropdown{
   vertical-align: middle;
   align-items:left;
   width:100%;
   height:40px;
 }
 p{
   text-align:left;
   margin-left:10px;
 }
 


#name-label, #email-label, #number-label{
  text-align:left;
  
  font-size:20px;
}
#submit{
  display:block;
  margin:10px auto;
  width:100%;
  height:45px;
  border-radius:5px ;
  border-color:blue;
  color:grey;
}
.checkbox input{
 margin-bottom:10px;
 font-weight:bold;
}
.input input{
 margin-bottom:10px;
 font-weight:bold;
  
}
#textarea{
  border-radius:5px ;
  border-color:blue;
  width:100%;
  height:80px;
}